@import url('https://fonts.googleapis.com/css?family=Lato');
@import url("./pictures.scss");

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 /*https://fonts.google.com/specimen/Lato*/

* {
  font-family: "Lato";
   font-weight: 100;
   font-size: 20px;
}

body,html{
  height:100%;
  width:100%;
  margin:0px;
}
body{
  margin-top: 110px;
}

#add-picture-link{
  font-size:14px;
  font-weight: 600;
  padding:5px;
  -webkit-appearance: button;
   -moz-appearance: button;
   appearance: button;
   text-decoration: none;
   color: initial;
}
#picture-index-page-wrapper{
  margin:auto;
  margin-top: 60px;
  width:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.form-container{
  height:100%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
#upload-picture-title{
  text-align: center;
}
.field, .actions > input{
  width: 100%
}

.new_picture{
  width: 50%;
  background-color: honeydew;
}
.new_picture > input {
  font-size: 15px;
}

.img_preview{
  width:100%
}

.sticky-header{
  width: 100%;
  height: 100px;
  background-color: aliceblue;
  position: fixed;
  top:0px;
  z-index:1;
  display: flex;
  justify-content: center;
  align-items:center;
}

.header-third{
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-container{

  width: 99%;
  margin:auto;
  padding: 1px;
}



.index-image{
  width:100%;
}
.post-image{
  height:60%;
  background-color:lightslategrey;
}
.post{
  width: 80%;
  margin:auto;
  background-color:lightslategrey;
  margin-top: 5px;
  margin-bottom: 5px;
}
.post > div {
  font-size: 14px !important;
  background-color:aliceblue;
  padding: 5px;
}

.post-info{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color:lightslategrey;

}
.interaction-div{
  display: flex;
  width:100%;
}
.interaction-div > a{
  width:50%;
  text-align: center;
  font-size: 14px;
  height:100%;
}

.interaction-div > img {

}

.post-status{
width:100%;
display:flex;
}
.like-image{
  height: 70px;
  outline: black 1px;
}
.comment-image{
  height: 70px;
}

.caption-div{
  width:80%;
  text-align:left;
}

.likes-div{
  width:19%;
  text-align:right;
}
.comments{
  width:100%;
  text-align: left;
}

#header-image{
  margin:auto;
  width: 150px;
}

.header-third > a{
}
